*{
  box-sizing: border-box; 
  }
  body{
  background-color: white;
  }

 

  
  .container{
    display: flex;
    /* justify-content: center; center the items horizontally */
    align-items: center; /* center the items vertically */
    width: 65em; 
    height: 45em;
    background-color:white;            
    margin: auto;
    margin-top: 20%;
  }
  
  .aside{
    width: 18em;
    height: 95%;
    background: linear-gradient(216deg, rgba(98,89,255,1) 0%, rgba(98,89,255,1) 18%, rgba(25,15,203,1) 82%, rgba(98,89,255,1) 96%);
    /* background-image: url('../public/mask.png'); */
    background-blend-mode:color;
   
    background-repeat:repeat-y;
    background-position: bottom;
  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 1em;
    margin-left: 1%;
  }
  .circle-buttons-container{
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    height: 60%;
    margin-top: 2.6em;
    gap: 10px;
  }
  .circle-button{
    display: flex;
    margin-left: 3em;
    color:white;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background:transparent;
    border: .2px white solid;
    font-weight: 600;
  }
  .circle-button.active {
    background-color: rgb(86, 170, 230);
  }
  
  .button-text {
    color: white;
    margin-left: 1em;
    font-size: 14;
    font-weight: 700;
   }
   .lil_guy{
    font-size: 12px;
    font-weight: 200;
   }
  
  
  .button-wrapper {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
  }
  
  .blue-button {
    background-color: lightblue;
  }
  .button-div{
    position: absolute;
    margin-top:  600px;
    margin-left:53em;
  
  }
  /* .goBackDiv{
    display: inline-block;
  margin-left: -30em;
  text-decoration: underline;
  } */
  .button, .button-add{
    width: 9em;
    height: 3em;
    background-color: #022959;
    color: white;
    font-weight: 600;
    font-size: larger;
    border-radius: 1em;
    margin-left: 20em;
  }
  .button-add{
    margin-bottom: 1em;
    margin-left: 25em;
  }
  
  /* <YourInfo /> COMPONENT: */
  .form-container{
    display: flex;
    flex-direction: column;
  
    height: 90%; 
    margin: auto;
  }
  .form{
    display: flex;
    flex-direction: column;
    margin: 3em;
  }
  .form > input{
  height: 4em;
  width: 28em;
  margin: 1.6em;
  border-radius: .5em;
  border: .1px solid;
  
  }
  .form-container > h2{
    text-align: center;
    margin-left: -12.5em;
    margin-bottom: .5em;
    margin-top: 2em;
  }
  .form-container > p{
    text-align: center;
  }
  /* 
  THIS NEXT SECTION IN FOR THE <SelectPlan /> */
  
  .splan{
    width: 35em;
    display: flex;
    flex-direction: column;
  
    height: 90%; 
    margin: auto;
  }
  
  .plans-container{
    display: flex;
    /* justify-content: space-evenly; */
    width:30em;
   
    gap: 3em;
    margin: auto;
  }
  
  .plans-container > div{
  width: 9.5em;
  height: 10em;
  border: solid 1px;
  border-radius: 1em;
  
  }
  .option{
    margin-left: -8.5em;
  }
  .plan1.selected,
  .plan2.selected,
  .plan3.selected {
    background-color:#f4f7fa;
  }
  .selected {
    background-color: rgb(210, 210, 218);
    margin: 10px;
  }
  
  .planLogo{
  margin-top: 1rem;
  
  }
  .switch {
    display: flex;
    align-items: center;
  
    width: 80%;
    height: 3em;
    background-color: #ebebed;  
    
   margin: auto;
   justify-content: center;
   border-radius: .5em;
  }
  
  .switch-knob {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    
  }
  
  .switch-knob input {
    opacity: inherit;
    width: 0;
    height: 0;
  }
  
  .slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    transition: 0.4s;
    border-radius: 34px;
    opacity: unset;
  }
  
  .slider-round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider-round {
    background-color: #2196F3;
  }
  
  input:focus + .slider-round {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider-round:before {
    transform: translateX(26px);
  }
  
  /* Optional styles to change the text color */
  .switch label {
    color: #4b4141;
    font-size: 14px;
  }
  
  .switch label:hover {
    color: #000;
    cursor: pointer;
  }
  
  .switch input:checked + .slider-round + label {
    color: #2196F3;
  }
  
  /* BELOW IS CSS FOR <AddOns />: */
  .addOns-container{
    display: flex;
    flex-direction: column;
  
    height: 90%; 
    margin: 4em;
    margin-top: 10em;
  }
  h2{
   margin-bottom: 1rem;
  
  }
  .addOns{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
    gap:1em;
  }
  .addOn-div{
    display: flex;
    border:solid .5px;
    border-color: blue;
    width: 28em;
    height: 5.5em;
  border-radius: 9px;
  
  
  }
  .addOn-div:clicked {
    background-color: rgb(216, 231, 235)!important;
   
    border:solid .5px;
  }
  .addOnPrice{
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  
  
  }
  input{
  margin: 1rem;
  width: 1.2rem;
  }
   h3{
    margin-top: 1rem;
   
  }
  .divP{
    margin-bottom: 1rem;
  }
  .addonContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 5em;
  
  
  }
  .footer{
  
  margin-bottom: 1rem;
  }
  .goBackText{
       
    color : grey;
    text-decoration: underline;
  }
  .checkbox:checked{
    background-color: blue!important;
  
  }
  .price{
    display: flex;
    color: blue!important;
    margin:auto;
  
    
  }
  /* BELOW IS <Summary /> COMPONENT CSS: */
  
  .summaryContainer{
    display: flex;
    flex-direction: column;
  
    height: 90%; 
    margin: 4em;
    margin-top: 10em;
  }
  .checkout-container{
    display: flex;
    flex-direction: column;
  margin-top: 2em !important;
  width: 28em !important;
  height: 12em;
  background-color: #e5e6ef ;
  border: solid;
  border-radius: .5em;
  }
  .sectionOnePlan-Price{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
  width: 28em;
  border-radius: .5em;
  margin: .5em;
  
  height: 12em !important;;
  }

  .changePlan{
    text-decoration: underline;
    color: gray;
    
    margin: 0;
    margin-top: -1em;
    
  }
  .selectedPlan{
    display: flex;
    flex-direction: column;
    margin: 1em;
    
  
  }
  
  .planPrice{
    margin-top:  1.5em;
    margin-right: 1.5em;
   
  }
  .sectionTwoAddOns{
    display: flex;
  margin: 1.5em;
  
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .selectedAddOns{
  display: flex;
  flex-direction: column;
  
  }
  .addOnPrice{
    margin-right: -1em;
  }
  .totalDiv{
    display: flex;
    justify-content: space-between;
    margin: 1.8em;
  }
  .totalPrice{
    margin-right: .5em;
    color: blue;
    font-size: larger;
    font-weight: 700;
  }
  
  .ty-container{
    text-align: center;
    width:50%;
    margin: auto;
    
  }
  .ty-container > p{
  margin-top: 1em;
  color: grey;
  }
  
  
  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
      height: auto;
      margin-top: 10%;
      flex-direction: column;
    }
  
    .aside {
      margin-left: 0;
      width: 100%;
      height: auto;
    }
  
    .circle-buttons-container {
      margin-top: 1em;
    }
  
    .button-div {
  
      margin-top: 855px;
      margin-left: 84em;
    }
  
    .button {
      margin-left: 10%;
      width: 4em;;
    }
  
    .form > input {
      width: 100%;
    }
  
    .plans-container {
      flex-direction: column;
      gap: 1em;
    }
  
    .plans-container > div {
      width: 100%;
    }
  }
  